{% extends "blog/base.html" %}
{% block content %}
  <div class="container" style="display:flex; flex-direction:row; ">
      <div class="content">
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
          <!-- TODO(rsvn):pass the context users from the views -->
        <div class="sidebar">
        <article class="media content-section">
          <h3>Users</h3>
              <ul>
                {% for user in users %}
                  <li>{{ user.username }}</li>
                {% endfor %}
              </ul>
          </article>
        </div>
      </div>

{% endblock content %}
