{% extends "blog/base.html" %}
{% block content %}
<div class="layout-container">
  <div class="friends-section">
    <h5>Users</h5>
    <ul>
      {% for user in users %}
          <article class="box-section">
        <li>{{ user.username }}</li>
          </article> 
      {% endfor %} 
    </ul>
  </div>

  <div class="posts-section">
    {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}
  </div>



  <!-- TODO(rsvn):add logic to the trending posts based on popularity views -->
  

  <div class="trending-section">
    <h4>Trending</h4>
    <ul>
    {% for post in posts %}
          <article class="box-section">
             <li>{{ post.title }}</li>
          </article> 
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

