<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<body>
    <div class="login-box"> 
    <h1>Create a New Post</h1>
    <form method="POST" action="{% url 'post-create' %}">
        {% csrf_token %}
        <input type="text" name="title" placeholder="TITLE" id="title" required><br><br>

        <textarea name="content" placeholder="WRITE HERE" id="content" required></textarea><br><br>

        <button type="submit">Create</button>
    </form>
    </div>
</body>
</html>

